.summary {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.mainmenu {
    border: 1px solid #ccc;
    margin: 20px 10px 0px 10px;;
}

.larger {
    font-size: 50px;
    margin: 1px;
}

.menu-tab{
    padding: 3px 0px 10px 0px;
}