<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="summary">
    <ion-grid>
      <ion-row>
        <ion-col text-center>
          <ion-card-title><strong>21.00</strong></ion-card-title>
          <small>Pts</small>
        </ion-col>
        <ion-col>
          <ion-text>
            <!-- <ion-card-title><strong>Pere</strong></ion-card-title>
            <ion-card-title><small>1234567</small></ion-card-title> -->
              <strong ion-text color="dark"><small>Pere</small></strong><br>
              <ion-text color="dark"><small>+123456789</small></ion-text>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-grid>
      <ion-row>
          <ion-col width-50>
            <ion-card text-center class="menu-tab">
              <ion-card-title>
                  <ion-icon name="flash" class="larger"></ion-icon>
              </ion-card-title>
              <ion-text><strong>Recharge</strong></ion-text><br>
            </ion-card>
          </ion-col>
          <ion-col width-50>
              <ion-card text-center class="menu-tab">
                <ion-card-title>
                    <ion-icon name="cash" class="larger"></ion-icon>
                </ion-card-title>
                <ion-text><strong>Withdraw</strong></ion-text><br>
              </ion-card>
          </ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-50>
            <ion-card text-center class="menu-tab">
              <ion-card-title>
                  <ion-icon name="people" class="larger"></ion-icon>
              </ion-card-title>
              <ion-text><strong>Down Links</strong></ion-text><br>
            </ion-card>
        </ion-col>
        <ion-col width-50>
            <ion-card text-center class="menu-tab">
              <ion-card-title>
                  <ion-icon name="settings" class="larger"></ion-icon>
              </ion-card-title>
              <ion-text><strong>Settings</strong></ion-text><br>
            </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
