<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="summary">
      <ion-grid>
        <ion-row>
          <ion-col text-center>
            <ion-card-title><strong>{{ point.points | number: '.2-2' }}</strong></ion-card-title>
            <small>Pts</small>
          </ion-col>
          <ion-col>
            <ion-text>
              <strong ion-text color="dark"><small> {{ user?.userName }} </small></strong><br>
              <ion-text color="dark"><small>{{ user?.phoneNumber }}</small></ion-text>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div text-center class="summary">
      <small (click)="ExpireInfo()"><strong>Expires in </strong><span>{{ TimeRemaining }}</span></small>
    </div>
  <ion-grid>
      <ion-row>
          <ion-col width-50>
            <ion-card text-center class="menu-tab" (click)="rechargeOptions.open();">
              <ion-card-title>
                  <ion-icon name="flash" class="larger"></ion-icon>
              </ion-card-title>
              <ion-text><strong>Recharge</strong></ion-text><br>
            </ion-card>
          </ion-col>
          <ion-col width-50 [routerLink]="['/withdraw']" >
              <ion-card text-center class="menu-tab">
                <ion-card-title>
                    <ion-icon name="cash" class="larger"></ion-icon>
                </ion-card-title>
                <ion-text><strong>Withdraw</strong></ion-text><br>
              </ion-card>
          </ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-50>
            <ion-card text-center class="menu-tab">
              <ion-card-title>
                  <ion-icon name="people" class="larger"></ion-icon>
              </ion-card-title>
              <ion-text><strong>Down Links</strong></ion-text><br>
            </ion-card>
        </ion-col>
        <ion-col width-50>
            <ion-card text-center class="menu-tab">
              <ion-card-title>
                  <ion-icon name="settings" class="larger"></ion-icon>
              </ion-card-title>
              <ion-text><strong>Settings</strong></ion-text><br>
            </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>


      <ion-item hidden="true">
        <ion-label>Recharge Type</ion-label>
        <ion-select #rechargeOptions value="brown" okText="Okay" cancelText="Dismiss" (ionChange)="goToType($event)">
          <ion-select-option value="mobile">Mobile Top</ion-select-option>
          <ion-select-option value="utility">Utility</ion-select-option>
        </ion-select>
      </ion-item>


</ion-content>
