
      
        <ion-card-content text-center>

          <app-logo-heading [field]="'Confirm Phone Number'" ></app-logo-heading>
            
            <ion-text>Kindly verify your phone number</ion-text>

            <mat-form-field>
              <input
                matInput
                placeholder="SMS code"
              />
            </mat-form-field>

            <ion-button>Resend SMS</ion-button>
              <br>
            <ion-text>10:00</ion-text>

            <div class="border-top border-bottom mt-3">
              <ion-item detail lines="none" (click)="changePhoneNumber = !changePhoneNumber">
                <ion-label color="primary">
                  Change Phone number ?
                </ion-label>
              </ion-item>

              <!-- --------------------Country Code--------------- -->
            <ion-grid no-padding *ngIf="changePhoneNumber">
              <ion-row no-padding>


                <ion-col size="4" no-padding>
                  <mat-form-field>
                    <mat-select 
                      placeholder="Country Code"
                      >
                      <mat-option value="">---</mat-option>
                      <mat-option value="234">+234</mat-option>
                    </mat-select>

                    <mat-error class="error-block">

                      <!-- <app-validator-error-message [form]="signUpForm" [field]="'countryCode'" ></app-validator-error-message> -->
                    </mat-error>

                  </mat-form-field>
                </ion-col>

                <!-- --------------------Phone Number--------------- -->
                <ion-col size="8" no-padding class="ion-padding-start">
                  <mat-form-field>
                    <input 
                      matInput
                      maxlength= "10"
                      placeholder="Phone Number"
                    >

                    <mat-error class="error-block" >
                      <!-- <app-validator-error-message [form]="signUpForm" [field]="'phoneNumber'" ></app-validator-error-message> -->
                    </mat-error>
                    
                  </mat-form-field>
                </ion-col>

              </ion-row>

                <ion-button expand="full"> Change </ion-button>
            </ion-grid>

            </div>

        </ion-card-content>
      
      <ion-footer no-shadow class="footer">
        <ion-toolbar text-center position="bottom">
      
          <small>Don't have an account? 
              <a [routerLink]="['/'+appRoutes.public.signUp.path]"> Register </a>
            <!-- <strong ion-text (click)="toggleAuth()"><ion-text color="primary">Sign Up</ion-text></strong> -->
          </small>
        </ion-toolbar>
      </ion-footer>
      