
      
      <ion-card-content text-center>

        <ion-text color="primary">
          <h1>Rechargeless Logo</h1>
          <h2>Sign Up</h2>
        </ion-text>
          
        <div>

          <form [formGroup]="signUpForm">

            <!-- ------------------Username----------------------- -->
            <!-- <div>
              <mat-form-field>
                <input 
                  matInput 
                  placeholder="Username"
                  formControlName="username"
                  name="username"
                >


                <mat-error class="error-block" *ngIf="signUpForm.get('username').touched && signUpForm.get('username').invalid">
                  <small *ngIf="signUpForm.get('username').hasError('required')">Username is required</small>
                  <small *ngIf="signUpForm.get('username').hasError('unique')">Username has already been taken</small>
                </mat-error>
              </mat-form-field>
            </div> -->


            <!-- --------------------Country Code--------------- -->
            <ion-grid no-padding>
              <ion-row no-padding>


                <ion-col size="4" no-padding>
                  <mat-form-field>
                    <mat-select 
                      placeholder="Country Code"
                      formControlName="countryCode"
                      >
                      <mat-option value="">---</mat-option>
                      <mat-option value="234">+234</mat-option>
                    </mat-select>

                    <mat-error class="error-block" 
                      *ngIf="(signUpForm.get('countryCode').touched && signUpForm.get('countryCode').invalid)"
                      >
                      <small *ngIf="signUpForm.get('countryCode').hasError('required')">Country Code is required</small>
                    </mat-error>

                  </mat-form-field>
                </ion-col>

                <!-- --------------------Phone Number--------------- -->
                <ion-col size="8" no-padding class="ion-padding-start">
                  <mat-form-field>
                    <input 
                      matInput
                      maxlength= "10"
                      placeholder="Phone Number"
                      formControlName="phoneNumber"
                    >

                    <mat-error class="error-block" 
                      *ngIf="(signUpForm.get('phoneNumber').touched && signUpForm.get('phoneNumber').invalid) || signUpForm.get('phoneNumber').hasError('phoneNumber')">
                      <small *ngIf="signUpForm.get('phoneNumber').hasError('required')">Phone Number is required</small>
                      <small *ngIf="signUpForm.get('phoneNumber').hasError('invalidPhoneNumber')">Phone Number is invalid</small>
                      <small *ngIf="signUpForm.get('phoneNumber').hasError('phoneNumber')">{{signUpForm.get('phoneNumber').getError('phoneNumber').error}}</small>
                    </mat-error>
                  </mat-form-field>
                </ion-col>


              </ion-row>
            </ion-grid>
    
            <!-- --------------------Pin--------------- -->
              <div>
                <mat-form-field>
                  <input 
                    matInput 
                    placeholder="Pin"
                    type="password"
                    formControlName="pin"
                    maxlength="5"
                  >

                  <mat-error class="error-block" *ngIf="signUpForm.get('pin').touched && signUpForm.get('pin').invalid">
                    <small *ngIf="signUpForm.get('pin').hasError('required')">Pin is required</small>
                    <small *ngIf="signUpForm.get('pin').hasError('invalidPin')">Pin must only contain numbers</small>
                  </mat-error>
                </mat-form-field>
              </div>

            <!-- --------------------Confirm Pin--------------- -->
              <div>
                <mat-form-field>
                  <input 
                    matInput
                    type="password"
                    placeholder="Confirm Pin"
                    formControlName="confirmPin"
                    maxlength="5"
                  >
                  <mat-error class="error-block" *ngIf="signUpForm.get('confirmPin').touched && signUpForm.get('confirmPin').invalid">
                    <small *ngIf="signUpForm.get('confirmPin').hasError('invalidConfirmation')">Pins do not match</small>
                  </mat-error>
                </mat-form-field>
              </div>


    
              <ion-grid no-padding text-left>

                <mat-label>Referers Phone Number <small>(optional)</small> </mat-label>
                <ion-row no-padding>
                  <!-- --------------------Referers Country Code--------------- -->
                  <ion-col size="4" no-padding>
                      <mat-form-field>
                          <mat-select 
                            placeholder="Country Code"
                            formControlName="referersCountryCode"
                            >
                            <mat-option value="">---</mat-option>
                            <mat-option value="234">+234</mat-option>
                          </mat-select>
                        </mat-form-field>
                  </ion-col>

                  <!-- --------------------Referers Phone Number--------------- -->
                  <ion-col size="8" no-padding class="ion-padding-start">

                    <mat-form-field>
                      <input 
                        matInput
                        maxlength= "10"
                        placeholder="Phone Number"
                        formControlName="referersPhoneNumber"
                      >
                    </mat-form-field>

                  </ion-col>

                </ion-row>
              </ion-grid>

              <!-- Submit button -->
              <ion-button expand="full" (click)="SignUp()" [disabled]="signUpForm.invalid" >Sign Up</ion-button>


          </form>

        </div>
    
      </ion-card-content>
      
      <ion-footer no-shadow class="footer">
        <ion-toolbar text-center position="bottom">
      
          <small>Already have an account? 
              <a [routerLink]="['/auth', 'signin']" >Sign In </a>
          </small>
        </ion-toolbar>
      </ion-footer>
      




