.paymentInput {
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    text-align: right;
}

.paymentInput:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline:none;
    border-bottom: 2px solid #3880FF;
    text-align: right;
}

.paymentSelect {
    margin-left: -16px;
    font-weight: bolder;
    margin-top: -7px;
}

.invalid{
    color: red;
}

.valid {
    color: green;
}