// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.message-block > small {
    // Hidden by default
    display: none;
}
    .message-block > small:first-child {
    display: block;
}

ion-toast {
    --background:#f9f9f9!important;
    white-space: pre-line;
}

.toast-container {
    background-color:#fff!important;
}

ion-toast.success-toast {
    color: yellowgreen;
}

ion-toast.warning-toast {
    color: orange;
}

ion-toast.error-toast {
    color: rgb(209, 71, 71);
}

ion-toast.normal-toast {
    color: #fff;
}
