
      
        <ion-card-content text-center>
            <ion-text color="primary">
              <h1>Rechargeless Logo</h1>
              <h1>Sign In</h1>
            </ion-text>
              
              Login details
      
      
        </ion-card-content>
      
      <ion-footer no-shadow class="footer">
        <ion-toolbar text-center position="bottom">
      
          <small>Don't have an account? 
              <a [routerLink]="['/auth', 'signup']" >Register </a>
            <!-- <strong ion-text (click)="toggleAuth()"><ion-text color="primary">Sign Up</ion-text></strong> -->
          </small>
        </ion-toolbar>
      </ion-footer>
      